.parallax{
	
	background-image: url("/layout/images/banner.png");
	height: 100vh;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	
}

.logo-titulo{
	
	font-family: 'Staatliches', cursive;
	color: white;
	font-size: 8vw;
	text-shadow: 2px 2px 10px black;
	
}

.logo-subtitulo{
	
	font-family: 'Staatliches', cursive;
	color: white;
	font-size: 2vw;
	text-shadow: 2px 2px 10px black;
	
}

.txt-pesquisa{
	
	font-family: 'Staatliches', cursive;
	color: white;
	font-size: 4vw;
	text-align: center;
	
}

.search-box{
	
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 40px;
	background: #fff;
	height: 40%;
	
}

.search-box:hover > .search-txt{
	
	width: 30vw;
	height: 100%;
	padding-left: 1vw;
	
}

.search-box:hover > .search-btn{
	
	text-decoration: none;
	
	
	
}


.search-btn{
	
	float: right;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1.4s;
	background: #fff;
	width: 40px;
	height: 100%;
	
}

.search-txt{
	
	border: none;
	background: none;
	outline: none;
	float: left;
	color: #000;
	font-size: 90%;
	transition: 0.8s;
	width: 0px;
	height: 100%;
	
}

#accordion{
	
	background: #343a40;
	
}

.list-group-item .badge{
	
	background-color: #343a40;

}

/* ________________________________________- */

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}