 <!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" th:href="@{/layout/images/iconpage.ico}">
    <link rel="stylesheet" th:href="@{/layout/stylesheets/compra/compra.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <title>SGVI | Realizar Compra</title>
</head>
<body>
	<div class="container-fluid background" style="height: 100vh; display: flex; align-items: center; justify-content: center;">
		<div class="row">
			<div class="col-md-10">
				<div class="card" id="card-login">
                        <div class="card-body">
                            <h5 class="card-title text-center">SourceTickets</h5>
                            <h6 class="card-subtitle mb-2 text-muted text-center" style="font-size: 14px !important;">Preencha os campos abaixo para concluir a compra</h6>
                            <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(78, 0, 47, 0), rgba(78, 0, 47, 0.75), rgba(78, 0, 47, 0));">
                        </div>
                        <div class="row mb-3 justify-content-center p-0 m-0">
                        	<div class="col-md-10">
                        		<select id ="setor" class="form-control">
                        			<option selected>Setor do ingresso</option>
                        			<option value="10">Pista</option>
                        			<option value="100">VIP</option>
                        		</select>
                        	</div>
                        </div>
                        <div class="row justify-content-center p-0 m-0">
                        	<div class="col-md-10 mb-4">
                        		<input type="number" id="numero-ingressos" min="0" max="999" maxlength="3" class="form-control" placeholder="Nº de ingressos">
                        	</div>
                        </div>
                       
                        <div class="row justify-content-center p-0 m-0">
                        <div class="col-md-10">
                        	<p class=" text-muted">Dados do cartão de crédito</p>
                        </div>
                        </div>
                        <div class="row justify-content-center p-0 m-0">
                        	<div class="col-md-10 mb-2">
                        		<input type="text" id="nome-titular" class="form-control" placeholder="Nome do titular">
                        	</div>
                        </div>
                        <div class="row mb-3 justify-content-center p-0 m-0">
                        	<div class="mb-3 col-md-7 p-0 m-1">
                        		<input type="text" id="numero-cartao" class="form-control" maxlength="16" placeholder="Numero do cartão">
                        	</div>
                        	<div class="mb-3 col-md-2 p-0 m-1">
                        		<input type="text" id="cvv" class="form-control" maxlength="3" placeholder="CVV">
                        	</div>
                        </div>
                        <div class="row justify-content-center p-0 m-0">
                        	<div class="col-md-10 mb-4">
                        		
                        		<label for="valor-total" class="text-muted">Valor total</label>
                        		<input type="text" id="valor-total" class="form-control" value="R$ " disabled>
                        	</div>
                        </div>
                        <div class="row mt-3 justify-content-center p-0 m-0">
                        	<div class="col-md-10 mb-4 justify d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-compra btn-block">Comprar</button>
                        </div>
                        </div>
                </div>
			</div>
		</div>
	</div>
	
	
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script th:src="@{/layout/javascripts/compra/compra.js}"></script>
</body>
	